body
{
    margin: 10px;
}

.container
{
    border: 3px solid dodgerblue;
    display: flex;
    flex-direction: column;

    /* 
    flex-direction: row; -default
    flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: column-reverse; 
    */
}

.box
{
    width: 100px;
    height: 100px;

    background: gold;
    margin: 1rem;
}