*
{
    margin: 0;
}

.box
{
    width: 10rem;
    height: 100vh;

    background: gold;
    border-top: 3px solid dodgerblue;
}

/* 
Measurements

Absolute    |   Relative

    px      |       %   - relative to size of container
    pt      |       
    in      |       vh  - relative to the viewport height
    cm      |       vw  - relative to the viewport width
    mm      |       
            |       em  - relative to the font size
            |       rem - relative to the font size 
            
*/