body
{
    margin: 10px;
}

.container
{
    border: 3px solid dodgerblue;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    height: 90vh;

}

.box
{

    /* flex: <grow> <shrink> <basis>;*/
    flex: 15rem 1 1;

    width: 5rem ;
    height: 5rem;
    
    background: gold;
    margin: 1rem;
}

.box:first-child
{
    flex-shrink: 0;
}
