body
{
    margin: 10px;
    background: #dddddd;
}

.container
{
    display: grid;

    grid-template: 50px auto 50px / 30fr 70fr;

    grid-template-areas: 
    "header  header"
    "sidebar main"
    ".       footer";

    /* .(dot) to provide an empty cell */

    height: 100vh;

}

.box
{
    background-color: dodgerblue;
}

.box:nth-of-type(1)
{
    background: gold;
    grid-area: header;
}

.box:nth-of-type(4)
{
    background-color: deeppink;
    grid-area: footer;
}