*,
*::after,
*::before
{
    box-sizing: border-box;
}

.box::before
{
    content: "Hey!";
}


.box
{
    width: 100px;
    height: 100px;
    border: 5px solid gold;
    background-color: dodgerblue;
}