body
{
    margin: 10px;
    background: #dddddd;
}

.container
{
    display: grid;

    grid-template: repeat(3, 100px) / repeat(2, 100px); 
    
    /* grid-template-rows: 100px 100px 100px;
    grid-template-columns: repeat(2, 100px); */
    
    justify-items: stretch;
    align-items: stretch;


    height: 100vh;

    /*
    -items for particular items under grid
    justify-items: <value>;
    align-items: <value>;  
    
    -content for total grid
    justify-content: <value>;
    align-content: <value>;

    */


}

.box
{
    background-color: dodgerblue;
}