thead, tfoot
{
    font-weight: bold;
    color: white;
    background-color: #427fef;
}

tbody tr:nth-child(odd)
{
    background-color: #eef7ff;
}

table
{
    border-collapse: collapse;
    border-color: #121212;
}

td
{
    padding: 5px;
}