body
{
    height: 200vh;
}

.boxes
{
    border: 5px solid lightgrey;
    position: relative;
}

.box
{
    width: 5rem;
    height: 5rem;
}

.box-one
{
    background-color: deeppink;
}
.box-two
{
    background-color: tomato;
    position: fixed;
    left: 1rem;
    right: 1rem;
    width: auto;
    top: 0;
}
.box-three
{
    background-color: dodgerblue;
}


/* 
    #Positioning

    static  -static

    relative
        left | right
        top | bottom
    
    absolute
    
    fixed

    
    z-index: <value>;
                +ve value to bring forward
                -ve value to move backward
    */