.box
{
    border: 5px solid dodgerblue;
    width: 100px;
    height: 100px;

    overflow: hidden auto ;
    
    /*

    overflow: visible;
    overflow: hidden;
    overflow: scroll;

    overflow: auto;
             <-x> <-y>

    overflow-x: auto;
    overflow-y: auto;

    values :

    hidden
    scroll
    auto

    visible

    */
}