body
{
    height: 200vh;
}

.boxes
{
    border: 5px solid lightgrey;
    position: relative;
}

.box
{
    width: 5rem;
    height: 5rem;
}

.box-one
{
    background-color: deeppink;
}
.box-two
{
    background-color: tomato;
    position: absolute;
    right: 0;
    bottom: 0;
}
.box-three
{
    background-color: dodgerblue;
}


/* 
    #Positioning

    static  -static

    relative - relative to the elements normal position
        left | right
        top | bottom
    
    absolute - relative to the parent element
    
    fixed - relative to the viewport

    
    z-index: <value>;
                +ve value to bring forward
                -ve value to move backward
    */