*
{
    margin: 10px;
}

.box-grad
{
    height: 200px;
    width: 200px;
    background: linear-gradient(red, gold);
}

.box-grad-right
{
    height: 200px;
    width: 200px;
    background: linear-gradient(to right, dodgerblue, gold);
    
}

.box-grad-bottom-right
{
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom right, dodgerblue, gold);
    
}

.box-grad-deg
{
    height: 200px;
    width: 200px;
    background: linear-gradient(45deg, deeppink, cyan, yellow);
    
}

.box-grad-percentage
{
    height: 200px;
    width: 200px;
    background: linear-gradient(deeppink 50%, dodgerblue, tomato);
    
}
