*
{
    margin: 10px;
}

.box
{
    height: 200px;
    width: 200px;
    background: dodgerblue;

    /*
    box-shadow: <horizontal> <vertical> <soft|blur> color;
                +ve for right, +ve for bottom
                -ve for left, -ve for top
    
    Examples:
    box-shadow: 10px 10px;
    box-shadow: 10px 10px grey;
    box-shadow: 10px 10px 25px grey;
    
    */

    box-shadow: 0 0 25px grey;

}

h1
{
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) ;
}
 