.boxes
{
    border: 5px solid lightgrey;
}

.box
{
    width: 5rem;
    height: 5rem;
    position: relative;
}

.box-one
{
    background-color: deeppink;
}
.box-two
{
    background-color: tomato;
    position: relative;
    left: 3rem;     
    bottom: 2rem;
    z-index: -1;
}
.box-three
{
    background-color: dodgerblue;
}


/* 
    #Positioning

    static  -static

    relative
        left | right
        top | bottom

    
        z-index: <value>;
                +ve value to bring forward
                -ve value to move backward
    */