body
{
    margin: 10px;
    background: #dddddd;
}

.container
{
    display: grid;

    grid-template: 50px auto 50px / 30fr 70fr;

    height: 100vh;

}

.box
{
    background-color: dodgerblue;
}

.box:nth-of-type(1)
{
    background: gold;
    
    grid-column: 2;
    grid-row:  1 / span 2;


    /* grid-column: 1 / 3;
     grid-column: starting line / ending line; 
    
    grid-column: 1 / -1;
    negative value for last line

    grid-column: 1 / span 2;
    span to mention how many cells we want to use 
    */

    /* grid-row: 1 / 3;
     grid-row: starting line / ending line; 
    
    grid-row: 1 / -1;
    negative value for last line

    grid-row: 1 / span 2;
    span to mention how many cells we want to use 
    */
    
}