body
{
    margin: 10px;
}

.container
{
    border: 3px solid dodgerblue;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    height: 90vh;

}

.box
{

    /* flex-grow: value; 
        works on 
        the browser adds all grow property and create spaces evenly
    */

    flex-grow: 1;

    width: 5rem ;
    height: 5rem;
    
    background: gold;
    margin: 1rem;
}

.box:first-child
{
    flex-grow: 0;
}

.box:last-child
{
    flex-grow: 2;
}

/* 
    ### Axes ###
    
    > main (primary)
    > cross (secondary)
    
    for
    flex-direction: column;
    --- cross
    |
    |
    main


    for
    flex-direction: row;
    --- main
    |
    |
    cross

    # Aligning items

    justify-content (along the main axis)
    align-items (along the cross axis)





 */