*
{
    margin: 10px;
}

.box-circle
{
    height: 200px;
    width: 200px;
    background: radial-gradient(deeppink, gold);
}

.box-rect
{
    height: 200px;
    width: 500px;
    background: radial-gradient(dodgerblue, gold);
}

.box-rect-circle
{
    height: 200px;
    width: 500px;
    background: radial-gradient(circle, violet, blue);
}

.box-rect-circle-top-left
{
    height: 200px;
    width: 500px;
    background: radial-gradient(circle at top left, red, gold);
}