body
{
    margin: 10px;
}

.container
{
    border: 3px solid dodgerblue;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    height: 90vh;

}

.box
{
    width: 100px;
    height: 100px;

    background: gold;
    margin: 1rem;
}

.box:first-child
{
    align-self: flex-start;
}

.box:last-child
{
    align-self: flex-end;
}

/* 
    ### Axes ###
    
    > main (primary)
    > cross (secondary)
    
    for
    flex-direction: column;
    --- cross
    |
    |
    main


    for
    flex-direction: row;
    --- main
    |
    |
    cross

    # Aligning items

    justify-content (along the main axis)
    align-items (along the cross axis)





 */