*
{
    margin: 10px;
}

.box
{
    height: 200px;
    width: 200px;
    background: deeppink;

    /* border: <size> <type> <color>; */
    border: 10px solid dodgerblue;

}

.box-etc
{
    height: 200px;
    width: 200px;
    background: deeppink;

    /* border: <size> <type> <color>; */
    border: 20px dashed dodgerblue;

    /*border-width: <top> <right> <bottom> <left>; */
    border-width: 10px 20px 30px 40px;

    border-style: solid;

    border-radius: 10px;
}

.circle
{
    width: 200px;
    height: 200px;
    background-color: gold;

    border: 5px solid dodgerblue;

    border-radius: 100px;
}